.mobile-nav{
    width: 100%;
    background-color: #132361;
    color: white;
}


.navbar-header{
    width: 100%;
    background-color: #132361;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;

}


.navbar-header p svg {
    cursor: pointer;
    margin-top: 10px;
}

@media (min-width:1000px) {
    .mobile-nav{
        display: none;
    }
}

.mobile{

    height: auto;
    width: 210px;
    background-color: #132361;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile ul li{
    color: white;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;

}

.mobile ul li a{
    text-decoration: none;
    color: white;
}

.nav-item-mobile .active{
    color: black;
    background-color: aquamarine;
    border-radius: 90px;
    padding: 5px;
    width: 100px;
}