.domain-card {
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }

.domain-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  
  .card-body {
    position: relative;
  }
  
  .card-body .card-title {
    font-size: 24px;
    font-weight: 600;
  }
  
  .btn-sm {
    font-size: 12px;
  }

  .btn{
    border-radius: 30px;
  }


  @media (max-width:1000px) {
    .card-body .card-title {
      font-size: 16px;
      font-weight: 600;
    }
    
    .btn-sm {
      font-size: 8px;
    }
  
}