.domain-search-container {
    position: relative;
    width: 100%;
    height: 80vh;
    background: url('../../Images/background_7.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }


  
.overlay {
    position: absolute;
    inset: 0;
}
  
.content {
    position: relative;
    text-align: center;
    z-index: 10;
}
  
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
  
.search-box {
    display: flex;
    padding: 5px;
    max-width: 400px;
    margin: auto;
}
  
.search-input {
    flex-grow: 2;
    padding: 10px;
    border: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    color: black;
}
  
 .search-button {
    background: #F8991D;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
} 
  
.search-button:hover {
    background: darkorange;
}

@media (max-width:1000px) {
    .title {
        font-size: 1.2rem;
    }
    .subtitle {
        font-size: 0.9rem;

    }
    .domain-search-container {
        width: 100%;
        height: 45vh;
      }
}