.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .description-content {
    flex: 1;
  }
  
  .description-content h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .description-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
  }
  
  .description-content a {
    color: #0047ab;
    text-decoration: none;
  }
  
  .description-content a:hover {
    text-decoration: underline;
  }
  
  .description-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .description-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;   /* Ensures the images cover the container */
    max-height: 400px;   /* Keeps the images within a consistent size */
    width: 100%;         /* Ensures both images are the same width */
  }


  @media (max-width:1000px) {
    .description{
        flex-direction: column;
    }
    .description-content p {
      font-size: 12px;
    }
    .description-image img {
      max-width: 90%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;   /* Ensures the images cover the container */
      max-height: 400px;   /* Keeps the images within a consistent size */
      width: 90%;         /* Ensures both images are the same width */
    }
}